.video {
    position: relative;
    z-index: -1;
    top: 0;
    left: 0;
    width: 500px;
    height: 400px;
}

.tituloo {
    font: oblique bold 120% cursive;
    text-align: center;
    color: black;
    background-color: white;
}

.titulo {
    font: oblique bold 400% cursive;
    text-align: center;
    color: black;
    background-color: white;
}

.face {
    height: 100px;
    width: 200px
}

.insta {
    height: 220px;
    width: 320px
}

.wha {
    height: 200px;
    width: 180px
}